<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCareerPath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">MyCareerPath</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">HOME</a></li>
                <li><a href="{{ url_for('kampus') }}">KAMPUS</a></li>
                <li><a href="{{ url_for('jurusan') }}" class="active">JURUSAN</a></li>
                <li><a href="{{ url_for('rekomendasi') }}">REKOMENDASI</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h3 class="pagename"><i class="fa-solid fa-house"></i> Beranda/Jurusan</h3>
        <div class="flex-container">
            <img src="{{ url_for('static', filename='asset/Banner.png') }}" alt="Banner Gambar" width="1400" height="450">
        </div>
        
        <div class="search-bar">
            <input type="text" placeholder="Cari jurusan impian Anda">
            <button><i class="fa-solid fa-magnifying-glass">Cari</i></button>
        </div>        

        <div class="judul">
            <h1>Jurusan</h1>
        </div>

        <section class="kampus">
            <div class="kampus-card">
                <div class="kampus-info">
                    <img src="{{ url_for('static', filename='asset/kedokteran.png') }}" alt="Kedokteran">
                    <h3>Kedokteran</h3>
                    <p>Jurusan kedokteran akan mempelajari hal-hal terkait tubuh dan penyakit seperti anatomi, fisiologi, ilmu penyakit dalam, ilmu kesehatan ...</p>
                </div>
            </div>
            <div class="kampus-card">
                <div class="kampus-info">
                    <img src="{{ url_for('static', filename='asset/teknik nuklir.png') }}" alt="Teknik Nuklir">
                    <h3>Teknik Nuklir</h3>
                    <p>Teknik Nuklir mempunyai visi untuk ”Menjadi lembaga pendidikan tinggi yang unggul di bidang teknologi nuklir”. Oleh karenanya Program ...</p>
                </div>
            </div>
            <div class="kampus-card">
                <div class="kampus-info">
                    <img src="{{ url_for('static', filename='asset/arsitektur.png') }}" alt="Arsitektur">
                    <h3>Arsitektur</h3>
                    <p>Jurusan Arsitektur, kamu bakal mendesain bangunan sesuai kebutuhan dan tentu saja dengan memperhatikan nilai fungsi, keindahan, dan keamanan ...</p>
                </div>
            </div>
            <div class="kampus-card">
                <div class="kampus-info">
                    <img src="{{ url_for('static', filename='asset/desain.png') }}" alt="Keperawatan">
                    <h3>Keperawatan</h3>
                    <p>Ilmu Keperawatan merupakan bidang studi yang menyiapkan kamu menjadi seorang perawat. Di jurusan ini Quipperian akan mempelajari teori dan teknologi ...</p>
                </div>
            </div>

            <div class="kampus-card">
                <div class="kampus-info">
                    <img src="{{ url_for('static', filename='asset/kedokteran.png') }}" alt="Kedokteran">
                    <h3>Kedokteran</h3>
                    <p>Jurusan kedokteran akan mempelajari hal-hal terkait tubuh dan penyakit seperti anatomi, fisiologi, ilmu penyakit dalam, ilmu kesehatan ...</p>
                </div>
            </div>
            <div class="kampus-card">
                <div class="kampus-info">
                    <img src="{{ url_for('static', filename='asset/teknik nuklir.png') }}" alt="Teknik Nuklir">
                    <h3>Teknik Nuklir</h3>
                    <p>Teknik Nuklir mempunyai visi untuk ”Menjadi lembaga pendidikan tinggi yang unggul di bidang teknologi nuklir”. Oleh karenanya Program ...</p>
                </div>
            </div>
            <div class="kampus-card">
                <div class="kampus-info">
                    <img src="{{ url_for('static', filename='asset/arsitektur.png') }}" alt="Arsitektur">
                    <h3>Arsitektur</h3>
                    <p>Jurusan Arsitektur, kamu bakal mendesain bangunan sesuai kebutuhan dan tentu saja dengan memperhatikan nilai fungsi, keindahan, dan keamanan ...</p>
                </div>
            </div>
            <div class="kampus-card">
                <div class="kampus-info">
                    <img src="{{ url_for('static', filename='asset/desain.png') }}" alt="Keperawatan">
                    <h3>Keperawatan</h3>
                    <p>Ilmu Keperawatan merupakan bidang studi yang menyiapkan kamu menjadi seorang perawat. Di jurusan ini Quipperian akan mempelajari teori dan teknologi ...</p>
                </div>
            </div>

            <div class="kampus-card">
                <div class="kampus-info">
                    <img src="{{ url_for('static', filename='asset/kedokteran.png') }}" alt="Kedokteran">
                    <h3>Kedokteran</h3>
                    <p>Jurusan kedokteran akan mempelajari hal-hal terkait tubuh dan penyakit seperti anatomi, fisiologi, ilmu penyakit dalam, ilmu kesehatan ...</p>
                </div>
            </div>
            <div class="kampus-card">
                <div class="kampus-info">
                    <img src="{{ url_for('static', filename='asset/teknik nuklir.png') }}" alt="Teknik Nuklir">
                    <h3>Teknik Nuklir</h3>
                    <p>Teknik Nuklir mempunyai visi untuk ”Menjadi lembaga pendidikan tinggi yang unggul di bidang teknologi nuklir”. Oleh karenanya Program ...</p>
                </div>
            </div>
            <div class="kampus-card">
                <div class="kampus-info">
                    <img src="{{ url_for('static', filename='asset/arsitektur.png') }}" alt="Arsitektur">
                    <h3>Arsitektur</h3>
                    <p>Jurusan Arsitektur, kamu bakal mendesain bangunan sesuai kebutuhan dan tentu saja dengan memperhatikan nilai fungsi, keindahan, dan keamanan ...</p>
                </div>
            </div>
            <div class="kampus-card">
                <div class="kampus-info">
                    <img src="{{ url_for('static', filename='asset/desain.png') }}" alt="Keperawatan">
                    <h3>Keperawatan</h3>
                    <p>Ilmu Keperawatan merupakan bidang studi yang menyiapkan kamu menjadi seorang perawat. Di jurusan ini Quipperian akan mempelajari teori dan teknologi ...</p>
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h1>MyCareerPath</h1>
                <ul>
                    <li><h4>Panduan Memilih Kampus jurusan dan karir</h4></li>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Tentang Kami</h3>
                <ul>
                    <li><a href="#">Kontak Kami</a></li>
                    <li><a href="#">Pusat Bantuan</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Sistem</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Tempu Karir</h3>
                <ul>
                    <li><a href="#">Rekomendasi Kampus</a></li>
                    <li><a href="#">Rekomendasi Jurusan</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Tetap Terhubung</h3>
                <input type="email" placeholder="Masukkan email...">
                <button>Beritahu Saya</button>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 MyCareerPath
        </div>
    </footer>
</body>
</html>
